.mailin_error{
    background-color: #F2DEDE;
    border:1px solid #EED3D7;
    color: #B94A48;border-radius:4px 4px 4px 4px;padding:8px;
    margin-bottom:10px;
    text-shadow:0 1px 0 rgba(255, 255, 255, 0.5)
}
.mailin_success{
    background-color: #DFF0D8;
    border:1px solid #D6E9C6;
    margin-bottom:10px;
    color: #468847;border-radius:4px 4px 4px 4px;padding:8px;
    text-shadow:0 1px 0 rgba(255, 255, 255, 0.5)
}
.mailin_popup_box{
    background-color: #FFFFFF;
    border: 1px solid #DFDFDF;
    border-radius: 5px 5px 5px 5px;
    height: 157px;
    margin-left: 632px;
    padding: 7px;
    position: absolute;
    width: 400px;
    z-index: 5;
    display:none;
}
.mailin_popup_close{
    background-image: url("close.png");
    background-repeat: no-repeat;
    float: right;
    height: 50px;
    position: relative;
    width: 5%;
    cursor:pointer;
}

.mailin_popup_loading{
    position:absolute;
    background-image: url("loading_anim.gif");
    background-repeat: no-repeat;
    float: left;
    height: 50px;
    width:50px;
    margin-top: 50px;
    margin-left:185px;
}

.mailin_admin_head{
    background-image: -moz-linear-gradient(center top , #F9F9F9, #ECECEC);
    border: 1px solid #DFDFDF;
    border-radius: 3px 3px 3px 3px;
    padding:0 5px;
    margin-bottom: 10px;
    width: 670px;
}

.mailin_popup_inner{
float: left;
height: 157px;
width: 95%;
}

.mailin_row{float:left;width:670px}
