#mailin_signup_box{background-color: #F5F5F5; border: 1px solid #E5E5E5; border-radius: 4px 4px 4px 4px;margin-bottom: 10px; padding: 5px; width: auto;}
.mailin_signup_box_row{width:auto;padding:0 0 4px;}
.mailin_signup_box_row input{font-size:12px;border:1px solid #CCCCCC;border-radius:3px;color:#555555;width:92%}
.mailin_signup_box_row .required{color:#FF0000}
.right{text-align:right}
.mailin_signup_box_row label{color:#000000;font-size:12px;}
#mailin_email{border:1px solid #cccccc;}
.mailin_success{color:green;margin:0;padding:0}
.mailin_error{color:red;margin:0;padding:0}
.mailin_widget_head{font-size:12px;font-weight:bold;text-shadow:0 1px 0 rgba(255, 255, 255, 0.5)}
#mailin_signup_submit{background-image:-moz-linear-gradient(center top , #0088CC, #0055CC);border-radius:3px;background-color:#0074CC;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);color:#FFFFFF;padding:3px;margin:10px 0;width:auto;cursor:pointer}
.mailin_powered{background-color: #339AE1;border-radius: 5px 5px 5px 5px;color: #FFFFFF;font-family: Arial;font-weight: bold;padding: 2px;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25) }
